{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container p-5">
        <h1 class="h1 mt-3 mb-3 text-white">Bienvenue su Confistance</h1>
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                           required
                           autofocus>
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                    <button class="col-12 btn btn-lg btn-primary mt-3" type="submit">
                        Sign in
                    </button>
                    <div class="row d-flex justify-content-center mt-3">
                        <a href="{{ url('app_signup') }}" class="text-dark"><u>I dont have an acount, sign up</u></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
