{% extends 'base.html.twig' %}

{% block title %}Parties{% endblock %}

{% block body %}
    <div class="container-md mt-4 mb-4">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <h1 class="text-white">Toutes les parties</h1>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <a class="mr-3 mt-2 ml-auto btn btn-primary" href="{{ url('create_game') }}">Créer une
                                partie</a>
                        </div>
                    </div>
                </div>

                {% for game in games %}
                    <div class="col-12 card mt-4">
                        <div class="col-12 card-body">
                            <div class="row">
                                <div class="col-4">
                                    <h3>{{ game.name }}</h3>
                                </div>
                                <div class="col-2">
                                    <span class="ml-auto">Créateur : {{ game.creator }}</span>
                                </div>
                                <div class="col-6">
                                    {% if not game.isOver %}
                                        <div class="row">
                                            <div class="col">
                                                <span class="ml-auto badge badge-success">En cours</span>
                                            </div>
                                            <a class="ml-auto btn btn-success"
                                               href="{{ url('join_game', {'id': game.id}) }}">
                                                Rejoindre la
                                                partie</a>
                                        </div>
                                    {% else %}
                                        <span class="badge badge-error">Terminée</span>
                                    {% endif %}
                                </div>
                            </div>
                            <hr/>
                            <div class="row d-flex justify-content-around">
                                {% for spot in game.participants|sort((a, b) => a.spotIndex > b.spotIndex) %}
                                    {% if spot.appUser is null %}
                                        <div class="card border-success m-1">
                                            <div class="card-body">
                                                <span>Place libre</span>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="card border-primary m-1">
                                            <div class="card-body">
                                                {{ spot.appUser }}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{#{% block javascripts %}#}
{#    <script type="text/javascript">#}
{#        setTimeout(function () {#}
{#            window.location.reload();#}
{#        }, 5000);#}
{#    </script>#}
{#{% endblock %}#}
