{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-12">
            <div class="row">
                <h1 class="text-white">Toutes les parties</h1>
            </div>
        </div>

        {% for game in games %}
            <div class="col-12 card ">
                <div class="col-12 card-body">
                    <div class="row">
                        <h3>{{ game.name }}</h3>
                        <span class="ml-auto">Créateur : {{ game.creator }}</span>
                    </div>
                    <div class="row">
                        {% for spot in game.participants %}
                            {% if spot.appUser is null %}
                                <div class="card border-success m-1">
                                    <div class="card-body">
                                        <span>Place libre</span>
                                        <br/>
                                        <a href="{{ url('join_game', {'id': game.id}) }}">Prendre la
                                            place</a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="card border-primary m-1">
                                    <div class="card-body">
                                        {{ spot.appUser }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% if not game.isOver %}
                        <span class="badge badge-success">En cours</span>
                        <div class="row">
                            <a class="ml-auto btn btn-outline-success"
                               href="{{ url('join_game', {'id': game.id}) }}">
                                Rejoindre la
                                partie</a>
                        </div>
                    {% else %}
                        <span class="badge badge-error">Terminée</span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        <a class="btn btn-primary mt-4" href="{{ url('create_game') }}">Créer une partie</a>
    </div>
{% endblock %}
